
*/CMakeFiles
*/cmake_install.cmake
*/CMakeCache.txt
*/homework1_exe
*/Makefile
*/*.vcxproj
*/*.vcxproj.filters
*/*.vcxproj.user
*/*.sln
*/Debug
*/Release
*/x64
*/.vs
*/*.dir
dependencies/glfw-3.3.9.bin.WIN64
dependencies/glew-2.1.0
.DS_Store
dependencies/glm-1.0.1-light

homework1/*
!homework1/src
!homework1/README.md

homework2/*
!homework2/src
!homework2/README.md

homework3/*
!homework3/src
!homework3/README.md

