
*/CMakeFiles
*/cmake_install.cmake
*/CMakeCache.txt
*/homework1_exe
*/Makefile
*/*.vcxproj
*/*.vcxproj.filters
*/*.vcxproj.user
*/*.sln
*/Debug
*/Release
*/x64
*/.vs
*/*.dir
dependencies/glfw-3.3.9.bin.WIN64
dependencies/glew-2.1.0

homework1/*
!homework1/src

homework2/*
!homework2/src

homework3/*
!homework3/src

homework4/*
!homework4/src
homework5/*
!homework5/src
homework6/*
!homework6/src
homework7/*
!homework7/src
homework8/*
!homework8/src
homework9/*
!homework9/src

